<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="overdose" frontName="overdose">
            <module name="Overdose_Employee" />
        </route>
        <route id="landing" frontName="landing">
            <module name="Overdose_Employee" />
        </route>
    </router>
</config>
